.navBar{
  position: fixed;
  /*height: 25px;*/
  overflow: hidden;
  background-color: lightgrey;
  top:0px;
  width: 100%;
  left: 0px;
}
.navBar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navBar a:hover {
    background-color: grey;
    color: Cyan;
}
.view {
  max-width: 500px;
  padding-top: 50px;
  margin: 0px auto;
  text-align: center;
  color: grey;
}
img {
    max-width: 100%;
    max-height: 100%;
}
h1 {
  font-size: 100px;
  color: black;
}
h2 {
  color: black;
  animation-name: rotate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes rotate {
    0%   {color:red;}
    25%  {color:yellow;}
    50%  {color:blue;}
    75%  {color:green;}
    100% {color:red;}
}
